body{
    background-repeat: repeat-y;
    background-size: cover;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img{
    width: 50%;
    margin-top: -3%;
    margin-bottom: 2%;
}
.intro{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}
input[type=button]{
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
}
.move{
    position: absolute;
    width: 100px;
    height: 100px;
    animation: rotate_image1 20s linear infinite;
    transform-origin: 50% 50%;
    z-index: -1;
}
#move2{
    width: 70px;
    height: 70px;
    animation: rotate_image2 30s linear infinite;
}
#move3{
    animation: rotate_image3 5s linear infinite;
}
#move4{
    animation: rotate_image4 15s linear infinite;
}
#move5{
    animation: rotate_image5 20s linear infinite;
}
#move6{
    width: 80px;
    animation: rotate_image6 5s linear infinite;
}
@keyframes rotate_image1{
    0% {
        left: -100px;
        top: 200px;
    }
    50%{
        top: 500px;
    }
	100% {
        left: 94%;
        top: 100px;
    	transform: rotate(360deg);
    }
}
@keyframes rotate_image2{
    0% {
        left: 200px;
        top: -50px;
    }
	50% {
        left: 400px;
        top: 600px;
    }
    100%{
        left: 84%;
        top: 600px;
        transform: rotate(360deg);
    }
}
@keyframes rotate_image3{
    0% {
        left: 85%;
        top: 300px;
    }
	100% {
        left: 85%;
        top: 300px;
    	transform: rotate(360deg);
    }
}
@keyframes rotate_image4{
    0% {
        left: 85%;
        top: 100px;
    }
	100% {
        left: 65%;
        top: 700px;
    	transform: rotate(360deg);
    }
}
@keyframes rotate_image5{
    0% {
        left: 85%;
        top: 600px;
    }
	100% {
        left: 15%;
        top: 100px;
    	transform: rotate(360deg);
    }
}
@keyframes rotate_image6{
    0% {
        left: 15%;
        top: 500px;
    }
	100% {
        left: 15%;
        top: 500px;
    	transform: rotate(360deg);
    }
}