<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js" ></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <title>Signup</title>
</head>
<body>
    <a href = "http://127.0.0.1:8000" class = "top_left">
        <img src="/static/img/cctv.png" id = "character" alt="character">
        <img src="/static/img/amongus.png" id = "logo" alt="logo">
    </a>
    
    <div class = "main">
        <form method = "POST">
            <table>
                <tr>
                    <td>아이디</td>
                    <td><input type="text" name="id" required autocomplete="off"></td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td><input type="password" name="pwd" id = "pwd" required></td>
                </tr>
            </table>
            <div id = "submit"><input type="submit" value = "로그인"></div>
        </form>
    </div>
</body>
</html>