body{
    font-family: 'Nanum Gothic Coding', monospace;
    background-image: url(/static/img/background.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    width: 100%;
    display:flex;
    justify-content: flex-start;
}
.top_left{
    display: flex;  
    justify-content: flex-start;
    float: left;
	align-items:center;
    font-size: 23px;
}
.character{
    display: flex;
    float: left;
}
#character{
    width: 100px;
    height: 95px;
    /* position: absolute; */
}
.logo{
    display: flex;
    float: left;
    padding-top:20px;
    margin-left:-20px;
}
#logo{
    height: 50px;
    width: 150px;
    /* position: absolute;
    margin-left: 76px;
    margin-top: 33px; */
}
.main{
    width: 100%;
    display : flex;
    justify-content: center;
}

.container{
    display :flex;
    justify-content: center;
    width:60%;
    margin-top:10%;
}
.form {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    width:100%
}
table{
    width: 50%;
    display: flex;
}
tbody {
    width:100%;
}
tr{
    display:flex;   
    width: 100%;
    height: 50px;
}
tr > td:nth-child(1){
    width: 30%;
    color: white    
}
tr > td:nth-child(2){
    width: 70%;
    color: white
}
input{
    width: 100%;    
    height: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    color: white;
}
input:focus{
    outline-width:0px;
}

.submit{
    margin-top:5%;
    text-align: center;
    display :flex;  
}
input[type=submit]{
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    height: 30px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
}