<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/manual.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Manual</title>
</head>
<body>
<div class = "top">
    <div class ="top_left">
        <div class="character">
            <img src="/static/img/cctv.png" id = "character" alt="character">
        </div>
        <div class="logo">
            <a href = "#"><img src="/static/img/amongus.png" id = "logo" alt="logo"></a>
        </div>
    </div>
    <div class = "top_right">
        <a href="/login/" class="sign">LOGIN</a>
        <a href="/signup/" class="sign">SIGNUP</a>
    </div>
</div>

<div class="main">
    <img src="/static/img/cctv.png" class = "move" alt="character"> 
    <img src="/static/img/character.png" class = "move" id="move2" alt="character"> 
    <img src="/static/img/character2.png" class = "move" id="move3" alt="character"> 
    <img src="/static/img/manual.png" id = "img" alt="character"> 
    <div class = "intro">
        <p id = "one">AI Among Us</p>
        <p id = "two">비정상 접근 감지 CCTV 사용법</p>
    </div>
    <input type="button" value="next" onclick="next()">
</div>

{% comment %} <div id = "team">kimsia / shinhyesu / Leeisack / janghayoung</div> {% endcomment %}

<script>
var count = 0;
function next(){
    if (count == 0){
        {% comment %} document.getElementById('img').src = "/static/img/manual2.jpg" {% endcomment %}
        document.getElementById('one').innerHTML = "사용 전 회원가입을 꼭 해주세요!";
        document.getElementById('two').innerHTML = "메롱메롱";
        count += 1;
    }
    else if (count == 1){
        document.getElementById('one').innerHTML = "AI Among Us";
        document.getElementById('two').innerHTML = "비정상 접근 감지 CCTV 사용법";
        count = 0
    }
    
}
</script>

</body>
</html>